.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.flex-item{
	width: 33%;
	min-height:200px;
}
.card{
	margin:5px;
}
.mat-display-1{
	margin: 40px 0 10px 0;
}